{% extends "base.html" %}
{% block content %}

    <h1>List of Categories</h1>

    {% if current_user.is_authenticated %}
        <a href="/" class="btn btn-secondary">Back to Jops</a>
        <a href="cats" class="btn btn-secondary">Add a Category</a>
    {% endif %}

    {% for item in cats %}
        <div class="col-md6 border rounded">
            <div>
                <p>
                    <table border="1">
                        <tr>
                            <th>name</th>
                        </tr>
                        <tr>
                            <td>{{item.name}}</td>
                        </tr>
                    </table>
                </p>
            </div>
            {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
                <div>
                    <a href="/cats/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/cats_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
