*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a
{
    display: inline-block;
    text-decoration: none;
    color: #666666;
}

.header {
    color: #ffffff;
}
.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header-inner {
    display: flex;
    padding: 22px 0;
    justify-content: space-between;
    align-items: center;
}
.header-inner nav
{
    display: flex;
    align-items: center;

}
.logo {
}
.header-menu {
    display: flex;
}
.header-menu li{
    display: flex;
}
.header-menu li a
{
    font-weight: 600;
    font-size: 13px;
    margin-left: 29px;
    text-align: center;
}

.login-btn {
    border: 2px solid #bcda5c;
    border-radius: 30px;
    background-color: #bcda5c;
    padding: 12px 28px;
    margin-left: 75px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    transition: 0.5s ease;
}
.login-btn:hover
{
    background-color: #ffffff;
    color: #666666;
}

.mainSlider
{
    background-image: url("../images/homes-background.png");
    background-repeat: no-repeat;
    background-size: cover;   
}
.mainSlider-2
{
    background-color: rgb(66, 89, 72, 0.29);
}
.main-Slider-title
{
    color: black;
}

.mainSlider-inner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 167px;
}
.main-Slider-title
{
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    margin-bottom: 57px;
}
.main-Slider-title span
{
    font-weight: 600;
    font-size: 49px;
}

.becomeMember-btn
{
    color: #ffffff;
    border: 0 solid #bcda5c;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: #99c50a;

    font-weight: 600;
    font-size: 19px;
}
.becomeMember-btn:hover
{
    background-color: #cdd8aa;
}
.info
{
    background-color: #ffffff;
}
.info-inner
{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 40px;
    padding-top: 99px;
    padding-bottom: 110px;
}
.info-icon
{
    display: flex;
    margin-bottom: 52px;
}
.info-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;

    font-weight: 600;
    font-size: 31px;
}
.info-title p
{
    font-weight: 600;
    font-size: 31px;
    margin-top: 28px;
}
.info-descpr {
    font-size: 19px;
    font-weight: 400;
    color: #515151;
    line-height: 34px;

    text-align: center;
    margin-bottom: 160px;
}
.info-descpr p
{
    margin-top: 57px;
}


.info-tabs
{
    width: 100%;
}
.info-tabs__menu
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
.info-tabs__menu > li
{
    flex: 1;
}
.info-tabs__menu li
{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e6e6e6;
    transition: 0.5s ease;
}
.info-tabs__menu li:hover
{
    border-bottom: 2px solid #add136;
}
.info-tabs__menu li.active
{
    border-bottom: 2px solid #add136;
}
.info-tabs__menu li a{
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    font-size: 33px;
    font-weight: 300;
}
.info-tabs__num
{
    color: #ffffff;
    border: 0px solid;
    border-radius: 50%;
    background-color: #5f5f5f;

    display: flex;
    width: 43px;
    height: 43px;
    justify-content: center;
    align-items: center;

    margin-right: 33px;

    font-size: 20px;
    font-weight: 600;
}
.info-tabs__num.active
{
    background-color: #add136;
}

.info-items {
    padding-top: 66px;
    padding-left: 89px;
    padding-right: 22px;
}
.info-item_i {
    display: flex;
    align-items: center;
}
.info-item__i-img
{
    display: flex;
    flex: 0 0 113px;
    margin-right: 104px;
}
.info__item-text {
    font-weight: 400;
}
.info__item-title {
    font-size: 25px;
    color: #add136;
    margin-bottom: 41px;
}
.info__item-descpr {
    color: #606060;
    font-size: 17px;
    line-height: 30px;
}

.offers {
    
}

.offer-item {
    display: flex;
    align-items: center;
    padding: 46px 0;
}

.offer-img {
    display: flex;
    flex: 0 0 auto;
    margin-right: 46px;
}
.offer-text__title {
    font-size: 23px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 39px;
}
.offer-text__descpr {
    color: #515151;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 31px;
    line-height: 30px;
}

.offers
{
    display: flex;
    align-content: stretch;
}
.offer-item
{
    max-width: 510px;
}
.offer-item.left
{
    padding-right: 70px;
}
.offer-item.right
{
    padding-left: 70px;
}
.offer-Properties
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: #e2f8ff;
}
.offer-Buyers 
{
    width: 50%;
    background-color: #f5f9eb;
}
.offer-btn
{
    font-size: 15px;
    font-weight: 600;

    border: 0px solid #add136;
    background-color: #add136;
    padding: 20px 26px;
    color: #fff;
    border-radius: 7px;

    text-align: center;
    transition: 0.5s ease;
}
.offer-btn.blue
{
    border: #26a6d1;
    background-color: #26a6d1;
}
.offer-btn:hover
{
    background-color: #c6da88;
}
.offer-btn.blue:hover
{
    background-color: #68b8d3;
}


.projects {
    margin-top: 80px;
}
.projects-title {
    font-size: 29px;
    font-weight: 600;
    color: #515151;
}
.projects-descpr
{
    display: flex;
    align-items: center;
}
.projects-text {
    display: flex;
    flex-direction: column;
}
.projects-text__descpr {
    margin-top: 34px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8f8f8f;
}
.project-btn
{
    display: inline-table;
    border: 2px solid #b6b6b6;
    white-space: nowrap;
    padding: 20px 26px;
    border-radius: 8px;

    font-weight: 600;
    font-size: 15px;

    transition: 0.5s ease;
}
.project-btn:hover
{
    background-color: #b6b6b6;
    color: #fff;
}
.project-items
{
    margin-top: 70px;
    display: flex;
}
.project-item
{
    padding: 1px;
    max-width: 300px;
}
.project-item__header
{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 100%;
}
.project-item__img
{
    max-height: 226px;
    overflow: hidden;
}
.project-item__price
{
    position: absolute;
    bottom: 19px;
    right: 15px;

    font-size: 17px;
    color: #fff;
    font-weight: 400;

    border: 0px solid #26a6d1;
    background-color: #26a6d1;
    border-radius: 4px;
    padding: 12px 8px;
}
.project-item__price span
{
    font-weight: 700;
}
.project-item__info
{
    color: #8a8a8a;
    font-size: 13px;
    font-weight: 400;

    padding-left: 22px;
    padding-right: 24px;
    padding-bottom: 27px;
    padding-top: 30px;

    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.project-item
{
    position: relative;
}
.project-item__new
{
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 1;

    font-size: 15px;
    

    background-color: #add136;
    overflow: hidden;
}
.project-items-inner
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.project-item__info-title
{
    margin-left: 23px;

    font-weight: 700;
    font-size: 17px;
    color: #484848;
}
.project-item__info-descpr
{
    margin-top: 19px;
    line-height: 22px;
}
.project-item__info-progress-bar
{
    position: relative;
    margin-top: 47px;

    max-height: 14px;
    width: 100%;

    border: 0px;
    background-color: #e3e3e3;
    border-radius: 7px;
    overflow: hidden;
}
.project-item__info-progress-bar > span
{
    display: block;
    position: relative;
    height: 100%;
    background-color: #add136;
    color: transparent;
}
.project-item__info-prInformation
{
    margin-top: 20px;
    font-weight: 600px;
    display: flex;
    justify-content: space-between;
}
.project-item hr
{
    height: 1px;
    border: none;
    color: #d6d6d6;
    background-color: #d6d6d6;

    margin-top: 20px;
    margin-bottom: 27px;
}
.project-item__moreInfo
{
    position: relative;
    text-align: end;
    margin-right: 30px;
}
.project-item__moreInfo a
{
    color: #8d8d8d;
    font-size: 15px;
    font-weight: 600;
}